USE [master]
GO
/****** Object:  Database [XDA]    Script Date: 7/5/2015 4:14:55 PM ******/
CREATE DATABASE [XDA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'XDA_Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\XDA_Data.mdf' , SIZE = 8320KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'XDA_Log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\XDA_Log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 1024KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [XDA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [XDA]
GO
/****** Object:  Table [dbo].[vemt]    Script Date: 7/5/2015 4:14:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[vemt](
	[sohs] [float] NULL,
	[hoten] [nvarchar](255) NULL,
	[phai] [bit] NULL,
	[gt] [nvarchar](50) NULL,
	[ngaysinh] [datetime] NULL,
	[namtn] [float] NULL,
	[sobaodanh] [nvarchar](255) NOT NULL,
	[kyluat] [bit] NOT NULL,
	[bothi] [bit] NOT NULL,
	[phuckhao] [bit] NOT NULL,
	[phongthi] [float] NULL,
	[phone] [float] NULL,
	[ghichu] [nvarchar](255) NULL,
	[diem] [float] NULL,
	[xahktt] [nvarchar](255) NULL,
	[huyenhktt] [nvarchar](255) NULL,
	[tinhhktt] [nvarchar](255) NULL,
	[email] [nvarchar](255) NULL,
	[cmnd] [varchar](50) NULL,
	[ngcapcmt] [datetime] NULL,
	[noicap] [nvarchar](255) NULL,
	[lephi] [float] NULL,
	[tui] [float] NULL,
	[phach] [float] NULL,
	[stt] [int] NULL,
 CONSTRAINT [PK_vemt] PRIMARY KEY CLUSTERED 
(
	[sobaodanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VEMT_BACKUP]    Script Date: 7/5/2015 4:14:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VEMT_BACKUP](
	[stt] [float] NULL,
	[hoten] [nvarchar](255) NULL,
	[phai] [float] NULL,
	[gt] [nchar](10) NULL,
	[ngaysinh] [float] NULL,
	[nsinh] [datetime] NULL,
	[namtn] [float] NULL,
	[sobaodanh] [nvarchar](255) NOT NULL,
	[kyluat] [bit] NOT NULL,
	[bothi] [bit] NOT NULL,
	[phuckhao] [bit] NOT NULL,
	[phongthi] [float] NULL,
	[phone] [float] NULL,
	[ghichu] [nvarchar](255) NULL,
	[diem] [float] NULL,
	[xahktt] [nvarchar](255) NULL,
	[huyenhktt] [nvarchar](255) NULL,
	[tinhhktt] [nvarchar](255) NULL,
	[email] [nvarchar](255) NULL,
	[cmnd] [float] NULL,
	[ngaycap] [float] NULL,
	[ngcapcmt] [datetime] NULL,
	[noicap] [nvarchar](255) NULL,
	[lephi] [float] NULL
) ON [PRIMARY]

GO
INSERT [dbo].[vemt] ([sohs], [hoten], [phai], [gt], [ngaysinh], [namtn], [sobaodanh], [kyluat], [bothi], [phuckhao], [phongthi], [phone], [ghichu], [diem], [xahktt], [huyenhktt], [tinhhktt], [email], [cmnd], [ngcapcmt], [noicap], [lephi], [tui], [phach], [stt]) VALUES (1, N'Đỗ Tấn Thành', 1, N'Nam', CAST(0x00008A1400000000 AS DateTime), 2014, N'XDA.V.001', 0, 0, 0, 23, 1687530574, N'', 0, N'Thị trấn Hợp Hoà', N'Huyện Tam Dương', N'Vĩnh Phúc', N'dothanhtdvp121096@gmail.com', N'135686032', CAST(0x00009F3700000000 AS DateTime), N'Công an tỉnh Vĩnh Phúc', 300, 17, NULL, 553)
INSERT [dbo].[vemt] ([sohs], [hoten], [phai], [gt], [ngaysinh], [namtn], [sobaodanh], [kyluat], [bothi], [phuckhao], [phongthi], [phone], [ghichu], [diem], [xahktt], [huyenhktt], [tinhhktt], [email], [cmnd], [ngcapcmt], [noicap], [lephi], [tui], [phach], [stt]) VALUES (2, N'Công Thị Minh Huyền', 0, N'Nữ', CAST(0x00008A6A00000000 AS DateTime), 2015, N'XDA.V.002', 0, 0, 0, 13, 1698261992, N'', 0, N'phường Phú Thượng', N'Quận Tây Hồ', N'Hà Nội', N'tranhunggiang71@yahoo.com.vn', N'001197004205', CAST(0x0000A41B00000000 AS DateTime), N'Cục CS ĐKQL cư trú & DLQG về dân cư', 300, 10, NULL, 302)
INSERT [dbo].[vemt] ([sohs], [hoten], [phai], [gt], [ngaysinh], [namtn], [sobaodanh], [kyluat], [bothi], [phuckhao], [phongthi], [phone], [ghichu], [diem], [xahktt], [huyenhktt], [tinhhktt], [email], [cmnd], [ngcapcmt], [noicap], [lephi], [tui], [phach], [stt]) VALUES (3, N'Nguyễn Trần Bình Nguyên', 1, N'Nam', CAST(0x00008A8000000000 AS DateTime), 2015, N'XDA.V.003', 0, 0, 0, 18, 904365443, N'', 0, N'xã Quất Động', N'Huyện Thường Tín', N'Hà Nội', N'bonus500damage@gmail.com', N'017510007', CAST(0x0000A26000000000 AS DateTime), N'Công an TP Hà Nội', 300, 14, NULL, 446)
GO
INSERT [dbo].[VEMT_BACKUP] ([stt], [hoten], [phai], [gt], [ngaysinh], [nsinh], [namtn], [sobaodanh], [kyluat], [bothi], [phuckhao], [phongthi], [phone], [ghichu], [diem], [xahktt], [huyenhktt], [tinhhktt], [email], [cmnd], [ngaycap], [ngcapcmt], [noicap], [lephi]) VALUES (1, N'Đỗ Tấn Thành', 0, N'Nam       ', 121096, CAST(0x00008A1400000000 AS DateTime), 2014, N'XDA.V.001', 0, 0, 0, 23, 1687530574, NULL, 0, N'Thị trấn Hợp Hoà', N'Huyện Tam Dương', N'Vĩnh Phúc', N'dothanhtdvp121096@gmail.com', 135686032, 60811, CAST(0x00009EFC00000000 AS DateTime), N'Công an tỉnh Vĩnh Phúc', 300)
INSERT [dbo].[VEMT_BACKUP] ([stt], [hoten], [phai], [gt], [ngaysinh], [nsinh], [namtn], [sobaodanh], [kyluat], [bothi], [phuckhao], [phongthi], [phone], [ghichu], [diem], [xahktt], [huyenhktt], [tinhhktt], [email], [cmnd], [ngaycap], [ngcapcmt], [noicap], [lephi]) VALUES (2, N'Công Thị Minh Huyền', 1, N'Nữ        ', 60197, CAST(0x00008A6A00000000 AS DateTime), 2015, N'XDA.V.002', 0, 0, 0, 13, 1698261992, NULL, 0, N'phường Phú Thượng', N'Quận Tây Hồ', N'Hà Nội', N'tranhunggiang71@yahoo.com.vn', 1197004205, 90115, CAST(0x0000A50600000000 AS DateTime), N'Cục CS ĐKQL cư trú & DLQG về dân cư', 300)
INSERT [dbo].[VEMT_BACKUP] ([stt], [hoten], [phai], [gt], [ngaysinh], [nsinh], [namtn], [sobaodanh], [kyluat], [bothi], [phuckhao], [phongthi], [phone], [ghichu], [diem], [xahktt], [huyenhktt], [tinhhktt], [email], [cmnd], [ngaycap], [ngcapcmt], [noicap], [lephi]) VALUES (3, N'Nguyễn Trần Bình Nguyên', 0, N'Nam       ', 280197, CAST(0x00008A8000000000 AS DateTime), 2015, N'XDA.V.003', 0, 0, 0, 18, 904365443, NULL, 0, N'xã Quất Động', N'Huyện Thường Tín', N'Hà Nội', N'bonus500damage@gmail.com', 17510007, 231013, NULL, N'Công an TP Hà Nội', 300)
GO
USE [master]
GO
